@import "tailwindcss";

:root {
  --primary-color:#000;
  --secondary-color:#D1AB66;
  /* --secondary-color:#D1AB66 */
  font-family: "Gill Sans Extrabold", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: larger;
}